# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# React app dependencies
coconut-fermentation/node_modules
coconut-fermentation/.pnp
coconut-fermentation/.pnp.js

# React app testing
coconut-fermentation/coverage

# React app production
coconut-fermentation/build

# misc
.DS_Store
coconut-fermentation/.env.local
coconut-fermentation/.env.development.local
coconut-fermentation/.env.test.local
coconut-fermentation/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coconut-fermentation/.env

# Data folder
data/ispindel.db
data/ispindel.db-journal
data/__pycache__/
data/*.csv
data/model/
data/data.ipynb
data/training model/
data/*.pt
data/test_send.py